<%- include('partials/meta'); -%>

<div id="page-container" class="main-content-boxed">

    <!-- Main Container -->
    <main id="main-container">

        <!-- Page Content -->
        <div class="bg-gd-dusk">
            <div class="hero-static content content-full bg-white invisible" data-toggle="appear">
                <!-- Header -->
                <div class="py-30 px-5 text-center">
                    <a class="link-effect font-w700" href="/">
                        <span class="font-size-xl text-primary-dark">Movie</span><span class="font-size-xl">Pool</span>
                    </a>
                    <h1 class="h2 font-w700 mt-50 mb-10">Welcome to Your Dashboard</h1>
                    <h2 class="h4 font-w400 text-muted mb-0">Please sign in</h2>
                </div>
                <!-- END Header -->

                <!-- Sign In Form -->
                <div class="row justify-content-center px-5">
                    <div class="col-sm-8 col-md-6 col-xl-4">
                        <!-- jQuery Validation functionality is initialized with .js-validation-signin class in js/pages/op_auth_signin.min.js which was auto compiled from _es6/pages/op_auth_signin.js -->
                        <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                        <form class="" action="/login" method="post">
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-material floating">
                                        <input type="text" class="form-control" id="username"
                                            name="username">
                                        <label for="login-username">Username</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="form-material floating">
                                        <input type="password" class="form-control" id="password"
                                            name="password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row gutters-tiny">
                                <div class="col-12 mb-10">
                                    <button type="submit"
                                        class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-success">
                                        <i class="si si-login mr-10"></i> Sign In
                                    </button>
                                </div>
                                <div class="col-12 mb-10">

                                </div>

                            </div>
                        </form>
                        <div class="col-12 mb-10">
                            <button class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-primary">
                                <a href="/auth/facebook">
                                <i class="fa fa-facebook-square fa-2x"></i> Login With Facebook
                            </a>
                            </button>
                        </div>
                        <div class="col-12 mb-10">
                            <button class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-danger">
                                <a href="/auth/google">
                                    <i class="fa fa-google fa-2x"></i> Login With Google
                                </a>
                            </button>
                        </div>
                        <div class="col-12 mb-10">
                            <h3 class="h4 font-w400 text-muted mb-0 text-center">or</h2>
                        </div>
                        <div class="col-sm-12 mb-5">
                            <a class="btn btn-block btn-noborder btn-rounded btn-alt-secondary"
                                href="/register">
                                <i class="fa fa-plus text-muted mr-5"></i> New Account
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END Sign In Form -->
            </div>
        </div>
        <!-- END Page Content -->

    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->

<%- include('partials/footer'); -%>